# all dot files\folders
.*

node_modules/*
dist/*/
build/*/
tmp/
docs
Dockerfile
*.zip
*.7z
*.rar
*.gz
*.md
*.mwb
*.bak
*.example
*.pdf
*.txt
./db/*.sql
scripts/db-seeder/*

!.env
!.eslint*
!.sequelize*
!**/.emptydir

!package*.*
